figure.snip1176 {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #02153f;
  color: #f9fafb;
  text-align: center;
}
figure.snip1176 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.snip1176 img {
  max-width: 100%;
  position: relative;
  opacity: 0.7;
}
figure.snip1176 figcaption {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 13%;
  right: 13%;
  border: 1px solid rgba(59, 130, 246, 0.8);
  border-width: 0px 1px;
  background-color: rgba(2, 21, 63, 0.7);
}
figure.snip1176 h2 {
  padding: 15px 20px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
}

figure.snip1176 .top,
figure.snip1176 .caption {
  overflow: hidden;
  width: 100%;
  position: absolute;
}
figure.snip1176 figcaption .top {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 0;
}
figure.snip1176 .caption {
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  bottom: 0;
}
figure.snip1176 p,
figure.snip1176 .top span {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  color: rgba(255, 255, 255, 0);
  font-size: 0.8em;
}
figure.snip1176 p:before,
figure.snip1176 .top span:before,
figure.snip1176 p:after,
figure.snip1176 .top span:after {
  position: absolute;
  height: 1px;
  content: '';
  background: #3b82f6;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.snip1176 .top span:before,
figure.snip1176 .top span:after {
  width: 2000%;
  top: 50%;
}
figure.snip1176 .top span:before {
  left: -1000%;
}
figure.snip1176 .top span:after {
  right: -1000%;
}
figure.snip1176 p:before,
figure.snip1176 p:after {
  width: 210%;
  bottom: 50%;
}
figure.snip1176 p:before {
  left: -160%;
}
figure.snip1176 p:after {
  right: -160%;
}
figure.snip1176 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1176:hover img,
figure.snip1176.hover img {
  opacity: 0.15;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1176:hover p,
figure.snip1176.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
  color: #3b82f6;
}
figure.snip1176:hover p:before,
figure.snip1176.hover p:before {
  left: -220%;
}
figure.snip1176:hover p:after,
figure.snip1176.hover p:after {
  right: -220%;
}