@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar{
  display: none;
}

html {
  scroll-behavior: smooth;
}

body::before {
  --line: rgba(107, 114, 128,0.15);
	--size: 100px;
	content: "";
	height: 50%;
	width: 100%;
	position: fixed;
	background:
		linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
	mask: linear-gradient(-15deg, transparent 30%, white);
	top: 0;
	transform-style: flat;
	pointer-events: none;
	z-index: -1;
}

body::after {
  --line: rgba(107, 114, 128,0.15);
	--size: 100px;
	content: "";
	height: 50%;
	width: 100%;
	position: fixed;
  bottom: 0;
  right: 0;
	background:
		linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
	mask: linear-gradient(155deg, transparent 30%, white);
	transform-style: flat;
	pointer-events: none;
	z-index: -1;
}

@layer base {
  main {
    @apply font-urbanist min-h-dvh flex flex-col gap-8 md:gap-0 pb-8 sm:pb-16;
  }
  .home-section {
    @apply w-full flex flex-col items-center justify-center gap-4 sm:gap-8 lg:gap-16 p-4 sm:p-8 lg:p-16;
  }
  .theme-bg {
    @apply bg-slate-50 dark:bg-slate-800 transition-all;
  }
  .theme-tx {
    @apply text-gray-600 dark:text-gray-300 transition-all;
  }
  .theme-link-bg {
    @apply dark:bg-blue-400 bg-blue-700 transition-all;
  }
  .theme-link-tx {
    @apply dark:text-blue-400 text-blue-700 transition-all;
  }
  .svg-wrapper {
    @apply fill-current h-6 w-6 group-hover:scale-125 transition-all;
  }
}